PORT=3001
REACT_APP_API_URL=http://localhost:3000

# Configurações do banco de dados (para referência)
REACT_APP_DATABASE_HOST=postgres
REACT_APP_DATABASE_PORT=5432
REACT_APP_DATABASE_USER=postgres
REACT_APP_DATABASE_PASSWORD=postgres
REACT_APP_DATABASE_NAME=expenses
