# Configurações do banco de dados
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=expenses

# Configurações da aplicação
PORT=3000
FRONTEND_URL=http://localhost:3001
